body{
  background-color: #101010;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

span{
  color: #ff6347; 
  font-weight: bold;
    
}


label{
  display: block;
}

input, select{
  width: 100%;
  margin: 5px;
}